<div class="card bg-5">
     <img class="card-img-top p-1" src="{{img}}" alt="{{text}}">
     <div class="card-body text-center">
          <p class="card-text">
               {{text}}
          </p>
     </div>
     <a class=stretched-link routerLink="/recipe" [queryParams]="{'id':id}" id="{{id}}"></a>
</div>

<!--<div class="col-md-4 py-1 px-1">-->
<!--     <div class="shadow h-100">-->
<!--          <div class="text-right card px-1 h-100">-->

<!--               <div class="box-part text-center pb-1 pt-1">-->

<!--                    <img class="img-fluid" src="{{img}}" alt="{{text}}"/>-->
<!--                    &lt;!&ndash;                    <div class="pt-3" title>&ndash;&gt;-->
<!--                    &lt;!&ndash;                         <h4>{{title}}</h4>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                    <div class="text collapse">-->
<!--                         <span>{{text}}</span>-->
<!--                    </div>-->

<!--                    <a class=stretched-link target=_blank routerLink=""></a>-->
<!--               </div>-->
<!--          </div>-->
<!--     </div>-->
<!--</div>-->
