@media (max-width: 575px){
    .img-container{
        justify-content: center!important;
    }
}
.img-container{
    max-height: 300px;

}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 90%;
}
