<div class="row align-items-center justify-content-center h-min-100">
     <div class="square row align-items-center justify-content-center text-center">
          <h3>Something wrong happened ¯\_(ツ)_/¯</h3>
          <!--          <span>descrição</span>-->
          <br>
          <h5 class=TEXT_1>
               <ng-content></ng-content>
          </h5>
          <br>
          <div class="">
               <span>Technical details:</span><br>
               <span>Status code: {{status}}</span><br>
               <span>Status message: {{statusMessage}}</span>
          </div>
     </div>
</div>
