<ng-container>
     <div role="button" class="d-sm-none d-flex py-2 px-4 align-items-center sidebar-collapsed"
          (click)="isCollapsed = !isCollapsed"><span
          class="mr-auto color-2">All ingredients:</span>
          <button aria-controls="doc-nav" aria-label="Toggle documentation navigation" class="btn btn-link p-0"
                  aria-expanded="false"
                  [attr.aria-expanded]="!isCollapsed">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"
                    class="align-middle color-2"><title class="text-1">Menu</title>
                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
                          d="M4 7h22M4 15h22M4 23h22"></path>
               </svg>
          </button>
     </div>
     <div class="pr-3">
          <hr class="p-0 m-0 color-2 hr-mobile">
     </div>
     <div id="doc-nav" class="d-sm-block pb-3 sidebar collapse"
          [ngbCollapse]="isCollapsed">


          <!--               <div role="button" (click)="selectIngredient($event.target)"-->
          <!--                    class="text-wrap" *ngFor="let ingredient of ingredients">-->
          <!--               {{ingredient}}-->
          <!--               </div>-->

          <ng-container *ngFor="let ingredient of availableIngredients">
               <div class="m-2">
                    <a routerLink="/search"
                       class="bg bg-2 text-white link-selection"
                       (click)="selectIngredient($event.target)">{{ingredient}}</a><br>
               </div>
          </ng-container>

     </div>
</ng-container>
